EXPO_PUBLIC_SUPABASE_URL=https://wrseqotrwvwbytsljdps.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc2Vxb3Ryd3Z3Ynl0c2xqZHBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4NzM4ODEsImV4cCI6MjA4MDQ0OTg4MX0.JEi6ujZ00BV8-tGkDRsYeXzcqbLgc0mzd3U-_e4P0xY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indyc2Vxb3Ryd3Z3Ynl0c2xqZHBzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDg3Mzg4MSwiZXhwIjoyMDgwNDQ5ODgxfQ.UaJGcSO0Zt6AJaIy_Ve9itPU5LjMTGpX1PwnB8_LC4s
SUPABASE_DB_PASSWORD=8Bim4cR3DKAaym78